<header>
    Page Header

    <ul>
        <% if(locals.user) { %>
            <li>
                <a href="/user/profile">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/user/sign-out">
                Sign Out</a>
            </li>

        <% } else {%>
            
            <li>
                <a href="/user/sign-in">
                Sign In</a>
            </li>
            <li>
                <a href="/user/sign-up">
                Sign Up</a>
            </li>
            
            <%  }  %>
    </ul>
</header>